<style>
    .card {box-shadow:0px 0.1rem 0.1rem 2px rgba(33, 40, 50, 0.15);}
    a, a:hover {text-decoration:None;}
</style>

<div class="row">
    <div class="col">
        <div class="card border-0 mb-4">
            <div class="card-body p-2" style="font-size: .75rem;">
                <h5 class="" style="font-size: .875rem;">Entité</h5>
                <div class="h5">195</div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                            43%
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ms-2">
                        vs année précédente
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-0 mb-4">
            <div class="card-body p-2" style="font-size: .75rem;">
                <h5 class="" style="font-size: .875rem;">Clients</h5>
                <div class="h5">2813</div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                            26%
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ms-2">
                        vs année précédente
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-0 mb-4">
            <div class="card-body p-2" style="font-size: .75rem;">
                <h5 class="" style="font-size: .875rem;">Produits</h5>
                <div class="h5">98367</div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                            87%
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ms-2">
                        vs année précédente
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-0 mb-4">
            <div class="card-body p-2" style="font-size: .75rem;">
                <h5 class="" style="font-size: .875rem;">Campagne</h5>
                <div class="h5">2813</div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                            26%
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ms-2">
                        vs année précédente
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

