<div class="col-lg-6">
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">Entrées</h5>
            <h6 class="card-subtitle"><span style="font-size: 0.75rem;font-weight: 200;">Total Entrées cette année</span></h6>
        </div>
        <div class="card-body">
            <div class="chart-line">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class="">
                        </div>
                    </div>
                </div>
                <canvas id="stockInChart" width="646" height="360" style="display: block; height: 240px; width: 431px;" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>